[submodule "chipyard"]
	path = chipyard
	url = git@github.com:mattweingarten/chipyard.git
	branch = rocket_chip_cpi
[submodule "riscv-tests"]
	path = riscv-tests
	url = ssh://github.com/mattweingarten/riscv-tests
[submodule "libgloss"]
	path = libgloss
	url = ssh://github.com/ucb-bar/libgloss-htif.git
[submodule "ibex"]
	path = ibex
	url = git@github.com:michaelg29/ibex
	branch = master
