[submodule "chipyard"]
	path = chipyard
	url = ssh://github.com/mattweingarten/chipyard
[submodule "riscv-tests"]
	path = riscv-tests
	url = ssh://github.com/mattweingarten/riscv-tests
[submodule "libgloss"]
	path = libgloss
	url = ssh://github.com/ucb-bar/libgloss-htif.git
[submodule "ibex"]
	path = ibex
	url = ssh://github.com/michaelg29/ibex
	branch = master
